body{
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.uploadBox {
    border: 4px dashed gray;
    border-radius: 4px;
    padding: 10px;
  }

.container{
    border-radius: 5px;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 25px;  
    line-height: 28px;  
}

.form-group{
    padding: 10px 25px 5px 25px;
}

.boxy{
    background-color: dodgerblue;
    color: whitesmoke;
}